
@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=93f6d220-e6ae-4ec0-b13a-20f2664f51af");
@font-face{
font-family:"Avenir LT W02 35 Light";
src:url("99db2616-e717-4838-a896-6dc86e37b49e.eot?iefix") format("eot");}
@font-face{
font-family:"Avenir LT W02 35 Light";
src:url("99db2616-e717-4838-a896-6dc86e37b49e.eot?iefix");
src:url("874c8a3d-82cd-4b46-839b-521b49950be0.woff") format("woff"),url("651041f0-000d-42ca-b667-939a4e0f5085.ttf") format("truetype"),url("bb5e727f-dfd2-4e7c-8630-4dd73720a377.svg#bb5e727f-dfd2-4e7c-8630-4dd73720a377") format("svg");
}
@font-face{
font-family:"AvenirLTW02-35LightObli";
src:url("67c09af9-1b9a-4aaa-9ce0-acf8eadec195.eot?iefix") format("eot");}
@font-face{
font-family:"AvenirLTW02-35LightObli";
src:url("67c09af9-1b9a-4aaa-9ce0-acf8eadec195.eot?iefix");
src:url("c5763b2c-20ed-4377-8989-e063e2ef8dfc.woff") format("woff"),url("9fc2b82e-97a4-4a9c-8f22-2bb58c2a0146.ttf") format("truetype"),url("4915ed32-67c2-4622-b16c-08fb6b2bdea3.svg#4915ed32-67c2-4622-b16c-08fb6b2bdea3") format("svg");
}
@font-face{
font-family:"Avenir LT W02 55 Roman";
src:url("469ea7ce-bb40-478a-aa21-da079357c969.eot?iefix") format("eot");}
@font-face{
font-family:"Avenir LT W02 55 Roman";
src:url("469ea7ce-bb40-478a-aa21-da079357c969.eot?iefix");
src:url("5104d540-ac5c-442d-8581-1e9f4ecd37f0.woff") format("woff"),url("6662a841-5b52-4af6-a868-6b43e3d7b263.ttf") format("truetype"),url("bfcb105e-6348-434a-ba7b-31cd4bb80da6.svg#bfcb105e-6348-434a-ba7b-31cd4bb80da6") format("svg");
}
@font-face{
font-family:"AvenirLTW02-55Oblique";
src:url("45f33033-1957-4ec4-8fed-f9cc8552b0ae.eot?iefix") format("eot");}
@font-face{
font-family:"AvenirLTW02-55Oblique";
src:url("45f33033-1957-4ec4-8fed-f9cc8552b0ae.eot?iefix");
src:url("4ae57b20-bad8-4fce-aeed-e0187e5a14bf.woff") format("woff"),url("6f808037-2d93-4f7d-b6bd-47f8efebc184.ttf") format("truetype"),url("ad5d3830-dabe-4aab-abd6-5298cf252a1b.svg#ad5d3830-dabe-4aab-abd6-5298cf252a1b") format("svg");
}
@font-face{
font-family:"Avenir LT W02 85 Heavy";
src:url("e9427e66-afa8-4ceb-bb31-7a970fb469ea.eot?iefix") format("eot");}
@font-face{
font-family:"Avenir LT W02 85 Heavy";
src:url("e9427e66-afa8-4ceb-bb31-7a970fb469ea.eot?iefix");
src:url("748da442-9dd9-4a4d-8da0-b114e16e5d7f.woff") format("woff"),url("6beeeb66-0b4e-4162-8788-8bf688b9829a.ttf") format("truetype"),url("8afe744b-89a2-4ae2-a88e-05c6882580f3.svg#8afe744b-89a2-4ae2-a88e-05c6882580f3") format("svg");
}
@font-face{
font-family:"AvenirLTW02-85HeavyObli";
src:url("b65661b0-4944-4569-a481-7956ed0037c4.eot?iefix") format("eot");}
@font-face{
font-family:"AvenirLTW02-85HeavyObli";
src:url("b65661b0-4944-4569-a481-7956ed0037c4.eot?iefix");
src:url("d8ea60b1-63d8-42d5-b780-fb10cd01d410.woff") format("woff"),url("61d90118-e984-41be-916f-8710743223b7.ttf") format("truetype"),url("d632b415-7d2d-4eef-88fa-9f3294009aca.svg#d632b415-7d2d-4eef-88fa-9f3294009aca") format("svg");
}
